.expenseButton {
   border-color: #7294B6;
   border-width: 4px;
   border-right-width: 0;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
}

.incomeButton {
   border-color: #7294B6;
   border-width: 4px;
   border-left-width: 0;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
}

.active {
   background-color: #7294B6;
}

.tabTitle {
   color: #3a506f;
   font-size: 1rem;
   font-weight: 700;
}

.tabTitleActive {
   color: #F2F5F8
}

.tabPage {
   opacity: 0;
   padding: 0 .625rem;
}

.tabShow {
   display: flex;
   gap: 1.25rem;
   height: 100%;
   width: 100%;

   opacity: 1;
}

.footer {
   display: flex;
   gap: .5rem;
}

.buttonWrapper {
   height: 3.5rem;
   border-radius: .5rem;
}

.createButton {
   background-color: #F4D50B;
}
.cancelButton {
   background-color: #E2E8F0;
}

.buttonText {
   text-align: center;
   margin: auto;
   color: #3A506F;
   font-size: 1.25rem;
   font-weight: 600;
}