// CustomInput.module.scss
.inputContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   padding: .625rem;
   border-radius: .5rem;
   width: 100%;
}

.labelText {
   font-size: 16px;
   color: #3A506F;
   font-weight: 500;
   padding: .3125rem 0;
}

.inputWrapper {
   width: 100%;
   height: fit-content;
}

.inputField {
   display: flex;
   font-size: 18px;
   color: #333;
   border: none;
   border-radius: .25rem;
   background-color: #EEF2F6;
   padding: .3125rem 0;
   min-width: 100%;
   height: 3rem;
   padding: 4px;
   font-size: 14px;

}

.inputActive {
   background-color: white;
   border: 3px solid #EEF2F6;
}

.placeholderText {
   position: absolute;
   font-size: 18px;
   color: #aaa;
}

.errorText {
   color: red;
   margin-top: 5px;
   font-size: 14px;
}

.valueText {
   font-size: 18px;
   color: #007bff;
   text-align: right;
   flex: 1;
}